body {
  background-color: #fff;
  color: sienna;
  margin: 0;
  text-align: center;
  font-family: "montserrat", sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: sienna;
  border-width: 3px;
  width: 10%;
}

h5 {
  text-align: left;
}

a {
  color: sienna;
  font-family: "montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top {
  background-color: #E5D2CE;
  text-align: left;
  line-height: 2;
  padding: 80px;

}

.middle-p {
  margin: 50px 200px;
  text-align: center;

}
.middle {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: right;
  line-height: 2;
}

.bottom {
  background-color: #F1B43F;
  position: relative;
  padding: 50px 0 20px;

}

.logo {
  width: 25%;
  margin-right: 20px;
  float: left;
}

.sand {
  float: right;
  width: 30%;
  margin-left: 30px;
}
.end {
  color: #EAF6F6;
font-size: .75rem;
padding: 20px 0;
text-align: center;
}
